.main {
    display: flex;
    align-items: center;
    padding-top: 40px;
    max-width: 90vw;
    width: 100%;
    padding: 40px 5vw 14px 5vw;
    flex-flow: column nowrap;
    max-height: calc(100% - 54px);
    height: 100%;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .main {
        align-items: initial;
    }
}
