main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    max-width: 90vw;
    width: 100%;
}

@media only screen and (hover: none) and (pointer: coarse) {
    main {
        align-items: initial;
    }
}
