ul {
    display: grid;
    list-style: none;
    font-size: var(--font-size-normal);
    padding-left: 0;
    gap: 10px;
}

.vertical {
    ul {
        grid-template-columns: repeat(3, 33%);
    }
}

.horizontal {
    ul {
        grid-auto-flow: column;
        margin: 0;
        padding: 10px 0;
    }
}

@media (orientation: portrait) {
    .vertical {
        ul {
            grid-template-columns: repeat(2, 50%);
        }
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
    ul {
        list-style: none;
        font-size: var(--font-size-normal);
    }
}
