ul {
    display: grid;
    list-style: none;
    font-size: var(--font-size-normal);
    padding-left: 0;
    gap: 10px;
}

.vertical {
    ul {
        grid-template-columns: repeat(3, 33%);
    }
}

.horizontal {
    &.isScrollable {
        background: linear-gradient(270deg,var(--color-black-2) 0%, #fff0 10%);
    }

    ul {
        grid-auto-flow: column;
        margin: 0;
        padding: 10px 0;
        overflow-x: scroll;
        scrollbar-width: thin;
        /* scrollbar-color: transparent transparent; */
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:portrait) {
    ul {
        list-style: none;
        font-size: var(--font-size-normal);
    }

    .vertical {
        ul {
            grid-template-columns: repeat(2, 50%);
        }
    }
}
