.hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.hamburger .line {
    width: 100%;
    height: 15%;
    background-color: var(--color-gray);
}
