.result-image {
    max-width: var(--size-meme-entity);
    max-height: var(--size-meme-entity);
    user-select: none;
    transition: transform 0.3s;
}

.meme-link {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (pointer: fine) and (hover: hover) {
    .result-image:hover {
        outline: 3px solid var(--color-light-gray);
        transform: scale(1.5);
        transform-origin: center;
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
    .result-image {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }
}
