.nothing-found,
.error-response {
    color: var(--color-white);
    font-size: var(--font-size-big);
}

.featured-channels-header {
    margin: 0px;
    color: var(--color-white);
    font-size:  var(--font-size-slight);
}

.featured-channels {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 30px;
    height: 128px;
    max-width: 90vw;

    ul {
        display: flex;

        li {
            min-width: 380px;
        }
    }
}

.featured-channels-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.add-your-channel-link {
    display: flex;
    gap: 4px;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--font-size-slight);
    border: 1px solid var(--color-dark-gray);
    border-radius: 5px;
    height: 30px;
    padding: 0 8px;
}

@media only screen and (max-width: 1280px) {
    .featured-channels {
        width: calc(3 * (var(--size-meme-entity) + 14px));
    }
}

@media only screen and (max-width: 1600px) {
    .featured-channels {
        width: calc(4 * (var(--size-meme-entity) + 14px));
    }
}

@media only screen and (max-width: 1920px) {
    .featured-channels {
        width: calc(5 * (var(--size-meme-entity) + 14px));
    }
}

@media only screen and (max-width: 2560px) {
    .featured-channels {
        width: calc(6 * (var(--size-meme-entity) + 14px));
    }
}
