ul {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    list-style: none;
    font-size: var(--font-size-normal);
    padding-left: 0;
}

li {
    display: flex;
}

li a,
li::marker {
    color: var(--color-white);
}

li a {
    text-decoration: none;
    padding: 0;
}

li a:hover {
    text-decoration: underline;
}

.channel-actions {
    display: none;
}

li:hover .channel-actions {
    display: flex;
    padding-left: 8px;
    gap: 8px;

    svg {
        cursor: pointer;
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:portrait) {
    ul {
        grid-template-columns: repeat(2, 50%);
        list-style: none;
        font-size: var(--font-size-normal);
    }
}
