.button {
  display: flex;
  font-size: var(--font-size-big);
  background-color: var(--color-black-1);
  border-radius: 8px;
  color: var(--color-white);
  border-color: var(--color-dark-gray);
  padding: 0 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.button[disabled],
.button.isActive {
  cursor: default;
}

.button[hidden] {
  display: none;
}

.button.isActive {
  border-color: green;
}
