#meme {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex: 1 1;
  gap: 20px;
  height: 100%;
}

.meme-description {
    color: var(--color-white);
    font-size: 36px;

    h3 {
      font-size: .9em;
    }
    h4 {
      font-size: .8em;
    }
    
    p {
      font-size: .7em;
    }

    .link-source {
      color: inherit;
      font-size: .8em;
    }
}

.unexisted-meme,
.nothing-found {
    color: var(--color-white);
    font-size: 30px;
}