#meme {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
}

.meme-image {
  width: 50%;
}

.meme-description {
    color: var(--color-white);
    font-size: 26px;
    width: 50%;

    .link-source {
      color: inherit;
    }
}

.unexisted-meme,
.nothing-found {
    color: var(--color-white);
    font-size: 30px;
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:portrait) {
  #meme {
    flex-direction: column-reverse;
  }

  .meme-image,
  .meme-description {
    width: initial;
  }

  .meme-description {
    font-size: 36px;
  }
}