#meme {
  padding-bottom: 50px;
  display: grid;
  grid-template-areas: 'm d';
  width: 100%;
  height: 100%;
  gap: 20px;
}

.meme-image {
  grid-area: m;
  width: 100%;
}

.meme-text-lang {
  display: flex;
  flex-direction: column;
}

.meme-description {
    grid-area: d;
    color: var(--color-white);
    font-size: var(--font-size-normal);
    width: 100%;

    .link-source {
      color: inherit;
    }
}

.unexisted-meme {
    color: var(--color-white);
    font-size: var(--font-size-big);
}

@media (orientation:portrait) {
  #meme {
    grid-template-areas: 'd' 'm';
  }

  .meme-description {
    font-size: var(--font-size-normal);
  }
}

.source-block {
  max-width: 360px;
}
