#results {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;

    .loader-container {
        position:relative;
        display:flex;
        align-items:center;
        left: 50%;
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:portrait) {
    .result-container {
        width: 100%;
        height: 100%;
    }
}
