#results {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    align-items: center;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

@media (pointer: fine) and (hover: hover) {
    .result-image:hover {
        outline: 3px solid var(--color-light-gray);
        transform: scale(1.5);
        transform-origin: center;
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation:portrait) {
    .result-container {
        width: 100%;
    }

    .result-image {
        max-width: 100%;
        max-height: initial;
        width: 100%;
    }
}
