.dialog {
    background-color: var(--color-light-gray);
}

.dialog::backdrop {
    background: #0000007d;
}

.action-buttons {
    display: flex;
    justify-content: end;
    gap: 4px;
}

.dialog-text {
    display: flex;
    flex-direction: column;
    color: var(--color-black-2);
    font-size: var(--font-size-normal);
}
