.channel-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

#form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#languages {
  display: grid;
  grid-template-columns: auto auto;
}
