.admin-page {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
  width: 100%;
}

h2 {
  color: var(--color-gray);
  font-size: var(--font-size-big);
}

.label {
  font-size: var(--font-size-big);
  color: var(--color-white);
}
